@use '../generics/generics.scss' as *;

.burger-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 20px 20px auto auto;
  gap: 5px;
  transition: 600ms;
  &:hover {
    background-color: $primary-translucent;
    .burger-menu__line {
      transition: 600ms;
      margin: 12px 0;
      a {
        display: inline;
        animation: 600ms burgerLinkAnimation;
        width: 100%;
        margin: 0 0.5em;
        &:hover {
          background: none;
          color: $black-translucent;
        }
      }
    }
  }
  &__line {
    height: 3px;
    width: 100%;
    min-width: 40px;
    background-color: $white;
    transition: width 0.3s, gap 0.3s;

    a {
      display: none;
    }
  }
  @media screen and (width > 768px) {
    display: none;
  }
}

@keyframes burgerLinkAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
