@use '../generics/generics.scss' as *;
form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 40vw;
  min-width: 280px;
  max-width: 300px;
  margin: 0 auto;
  overflow-x: hidden;
}
