$white: hsl(0, 0%, 96%);
$white-translucent: hsla(0, 0%, 96%, 5%);
$black: hsl(0, 0%, 12%);
$black-translucent: hsla(0, 0%, 12%, 50%);
$primary: hsl(144, 16%, 32%);
$primary-translucent: hsla(144, 16%, 32%, 80%);
$secondary: hsl(35, 38%, 63%);
$secondary-translucent: hsla(35, 38%, 63%, 50%);
