@use '../generics/colors.scss' as *;

img {
  width: 50vw;
  min-width: 300px;
  aspect-ratio: 16 / 9;
  background-color: $secondary;
  object-fit: cover;
  margin: 2vh auto;
  display: block;
  border-radius: 4px;
}

.icon {
  width: 40px;
  height: 40px;
  min-width: unset;
  background: none;
  padding: 5px 5px 0 5px;
}
