@use '../generics/colors.scss' as *;

img {
  width: 50vw;
  min-width: 300px;
  aspect-ratio: 16 / 9;
  background-color: $secondary;
}

.icon {
  width: 40px;
  height: 40px;
  color: green;
  fill: blue;
}
