@use './colors.scss' as *;
@mixin states {
  transition: 500ms;
  /* background-color: $white; */
  color: $primary;
  &:hover {
    background-color: $primary;
    color: $white;
    outline: 1px solid $white;
  }
  &:active {
    background-color: $primary;
    color: $white;
  }
  &:visited {
    color: $white;
  }
}
