@use '../generics/colors.scss' as *;
.video {
  width: 60vw;
  height: 40vw;
  min-width: 270px;
  min-height: 180px;
  background-color: $secondary;
  object-fit: cover;
  margin: 4vh auto;
  display: block;
  border-radius: 4px;
}
